<!DOCTYPE html>
<html>

<head>
	<%- include('../partials/head-style'); %>
</head>

<body>
	<%- include('../partials/top-header'); %>
		<%- include('../partials/sidebar'); %>

			<div class="main-container">
				<div class="pd-ltr-20 xs-pd-20-10">
					<div class="min-height-200px">
						<div class="page-header">
							<div class="row">
								<div class="col-md-6 col-sm-12">
									<div class="title">
										<h4>Notification Report </h4>
									</div>
									<nav aria-label="breadcrumb" role="navigation">
										<ol class="breadcrumb">
											<li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
											<li class="breadcrumb-item active" aria-current="page">Notification Report
											</li>
										</ol>
									</nav>
								</div>
							</div>
						</div>
						<!-- Checkbox select Datatable start -->
						<div class="card-box mb-30 pd-20">
							<div class="pb-20">
								<table class="datatable table nowrap">
									<thead>
										<tr>
											<th>Name</th>
											<th>Status</th>
										</tr>
									</thead>
									<tbody>
										<% for(var i=0; i<UserListAr.length; i++) {%>
											<tr>
												<td><%= UserListAr[i].name %></td>
												<td>
													<%
														if(UserListAr[i].status=='Success')
														{
                                                          %>
                                                          <span style="color:green;"><%= UserListAr[i].status %></span>
                                                          <%
														}
														else
														{
                                                           %>
                                                            <span style="color:red;"><%= UserListAr[i].status %></span>
                                                           <%
														}
														
													%>
												</td>
												
											</tr>
										<% } %>
									</tbody>
								</table>
							</div>
						</div>
						<!-- Checkbox select Datatable End -->
					</div>
					<div class="footer-wrap pd-20 mb-20 card-box">
						URC Monitoring
						<a href="javascript:;" target="_blank">Tycho Technologies Pvt. Ltd.</a>
					</div>
				</div>
			</div>
			<%- include('../partials/footer'); %>
</body>

</html>	